#ep-banner {
    width: 100%;
    position: absolute;
    top: 65px;
    text-align: center;
    background: #e5b90d;
    padding: 10px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#ep-banner p {
    font-size: 1.8rem;
    margin: 3rem;
}

@media (max-width: 1024px) {
    #ep-banner {
        top: 45px;
    }
}

@media (max-width: 785px) {
    #ep-banner {
        top: 235px;
        height: 55px;
        padding: 0;
    }

    #ep-banner p {
        font-size: 1.6rem;
        margin: 17px;
    }
}

@media (max-width: 670px) {
    #ep-banner {
        top: 210px;
        height: 50px;
        padding: 0;
    }

    #ep-banner p {
        font-size: 1.6rem;
        margin: 15px;
    }
}

@media (max-width: 577px) {
    #ep-banner {
        top: 190px;
        height: 40px;
        padding: 0;
    }

    #ep-banner p {
        font-size: 1.5rem;
        margin: 12px;
    }
}

@media (max-width: 477px) {
    #ep-banner {
        top: 160px;
    }
}